<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Personal</h1>
    </div>
    <div *ngFor="let item of personalRefac">
        
            {{item.IDPersonal}}
        
        <div>
            <ul>
                <li>Nombre: {{item.nombrePersonal}}</li>
                <li>Apellido: {{item.apellidoPersonal}}</li>
                <li>Puesto: {{item.puestoPersonal}}</li>
                <li>Telefono: {{item.telefonoPersonal}}</li>
            </ul>
        </div>
            
    </div>
</body>
</html>